<div class="group-1000001658-Fax">
    <div class="group-18491-zoS">
        <div class="auto-group-3m4k-XYU">
            <div class="company-FDa">
                <p class="company-y9a">Company</p>
                <p class="about-us-Jhe">About us</p>
                <p class="careers-dzp">Careers</p>
                <p class="contact-us-SSU">Contact us</p>
                <p class="news-blog-aoa">News &amp; Blog</p>
            </div>
            <div class="solution-KmA">
                <p class="learn-3hA">Learn</p>
                <p class="our-product-nek">Our Product</p>
                <p class="tutorials-qsv">Tutorials</p>
                <p class="our-service-aqW">Our Service</p>
                <p class="best-features-veU">Best Features</p>
            </div>
            <div class="left-frx">
                <p class="contrary-to-popular-belief-lorem-ipsum-is-not-simply-random-text-it-has-roots-QpY">
                    Contrary to popular belief, Lorem Ipsum is
                    <br />
                    not simply random text. It has roots.
                </p>
                <div class="subscribe-input-Vqz">
                    <p class="powering-growth-in-digital-industry-rRe">
                        Powering growth in digital
                        <br />
                        industry
                    </p>
                    <div class="group-18494-mYc">
                        <div class="input-7Ma">Email address</div>
                        <img class="button-go-aW4" src="../../assets/button-go-biY.png" />
                    </div>
                </div>
                <p class="get-in-touch-iMN">GET IN TOUCH</p>
                <div class="icon-27A">
                    <img class="facebook-AjA" src="../../assets/facebook-3z8.png" />
                    <img class="twitter-K6G" src="../../assets/twitter-sq2.png" />
                    <img class="linkedin-TTN" src="../../assets/linkedin-Ju6.png" />
                </div>
            </div>
        </div>
        <div class="auto-group-kbt6-zy6">
            <p class="ibizo-technologies-all-rights-reserved-Yzc">@2023 Ibizo Technologies. All rights reserved.</p>
            <p class="partner-contribute-Sq6">Partner &amp; Contribute</p>
        </div>
    </div>
    <div class="logo-x2k">Logo</div>
</div>