.group-1000001658-Fax {
    margin-top: -120px;
   
    width: 100%;
    height: 57.0375rem;
    position: relative;
    background-color: #1c1c1c;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS {
    width: 127.8rem;
    height: 40.2126rem;
    position: absolute;
    left: 8.1rem;
    top: 10.8rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU {
    margin: 0rem 0.1rem 12.222rem 0rem;
    width: 123.975rem;
    height: 26.5906rem;
    position: relative;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .company-FDa {
    width: 9.4rem;
    height: 17.2375rem;
    position: absolute;
    left: 59.8375rem;
    top: 0.0258rem;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .company-FDa .company-y9a {
    margin-bottom: 3.1125rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3333333333;
    color: #ffffff;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .company-FDa .about-us-Jhe {
    margin-bottom: 1.775rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .company-FDa .careers-dzp {
    margin-bottom: 1.775rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .company-FDa .contact-us-SSU {
    margin-bottom: 1.775rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .company-FDa .news-blog-aoa {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .solution-KmA {
    width: 10.8rem;
    height: 17.2375rem;
    position: absolute;
    left: 39.3625rem;
    top: 0.0258rem;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .solution-KmA .learn-3hA {
    margin-bottom: 3.1125rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3333333333;
    color: #ffffff;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .solution-KmA .our-product-nek {
    margin-bottom: 1.775rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .solution-KmA .tutorials-qsv {
    margin-bottom: 1.775rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .solution-KmA .our-service-aqW {
    margin-bottom: 1.775rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .solution-KmA .best-features-veU {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx {
    width: 123.975rem;
    height: 26.5906rem;
    position: absolute;
    left: 0;
    top: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .contrary-to-popular-belief-lorem-ipsum-is-not-simply-random-text-it-has-roots-QpY {
    margin: 0rem 0rem 0.638rem 87.625rem;
    max-width: 28.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #dedede;
    font-family: Space Grotesk, 'Source Sans Pro';
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .subscribe-input-Vqz {
    margin-bottom: 9.9rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .subscribe-input-Vqz .powering-growth-in-digital-industry-rRe {
    margin-right: 66.825rem;
    max-width: 20.7rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f7f7f7;
    font-family: Space Grotesk, 'Source Sans Pro';
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .subscribe-input-Vqz .group-18494-mYc {
    margin-top: 0.1992rem;
    height: 4.8375rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .subscribe-input-Vqz .group-18494-mYc .input-7Ma {
    margin-right: 1.35rem;
    box-sizing: border-box;
    padding: 1.125rem 1.575rem 1.313rem 1.575rem;
    width: 30.2625rem;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: #2f2f2f;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #f9f9f9;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .subscribe-input-Vqz .group-18494-mYc .button-go-aW4 {
    width: 4.8375rem;
    height: 4.8375rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .get-in-touch-iMN {
    margin: 0rem 0rem 2.875rem 0.1rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.048rem;
    color: #ffffff;
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .icon-27A {
    margin-left: 0.1rem;
    display: flex;
    column-gap: 1.3499rem;
    align-items: center;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .icon-27A .facebook-AjA {
    width: 2.7405rem;
    height: 2.7405rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .icon-27A .twitter-K6G {
    width: 2.7405rem;
    height: 2.7405rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-3m4k-XYU .left-frx .icon-27A .linkedin-TTN {
    width: 2.7405rem;
    height: 2.7405rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-kbt6-zy6 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-kbt6-zy6 .ibizo-technologies-all-rights-reserved-Yzc {
    margin: 0rem 89.3rem 0rem 0rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1666666667;
    color: rgba(255, 255, 255, 0.8000000119);
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.group-1000001658-Fax .group-18491-zoS .auto-group-kbt6-zy6 .partner-contribute-Sq6 {
    margin-top: 0.0001rem;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1666666667;
    color: rgba(255, 255, 255, 0.8000000119);
    font-family: Space Grotesk, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.group-1000001658-Fax .logo-x2k {
    width: 6.4rem;
    height: 3.2rem;
    position: absolute;
    left: 11.9rem;
    top: 10.45rem;
    display: flex;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}