<app-navbar></app-navbar>
<div class="about-us-xHE">
    <div class="frame-39229-peC">
        <div class="unsplash-syto3xs06fu-m3e">
        </div>
        <div class="frame-117-3mr">
            <p class="we-are-celetel-we-are-here-to-partner-growth-B7N">“We are Celetel, We are here to partner growth”
            </p>
            <p
                class="celetel-is-a-simplified-engagement-first-company-with-communications-at-its-core-celetel-comprises-new-gen-communications-specialists-with-over-20-years-of-experience-in-developing-engagement-tools-4BA">
                Celetel is a simplified- engagement first company with communications at its core. Celetel comprises
                new-gen communications specialists with over 20 years of experience in developing engagement tools.</p>
        </div>
        <img class="group-134-6de" src="../../assets/group-134.png" />
    </div>
    <div class="auto-group-lh5i-uqz">
        <div class="frame-1686551685-pxx">
            <p class="about-us-kbi">About Us</p>
            <p
                class="get-ready-to-welcome-a-holistic-suite-of-services-combining-data-driven-strategies-advanced-targeting-techniques-and-seamless-integration-of-cutting-edge-analytics-ai-powered-tools-and-multi-channel-strategies-this-orchestration-encompasses-audience-segmentation-ad-campaign-optimisation-content-personalisation-conversion-rate-optimisation-sem-management-affiliate-marketing-social-media-advertising-email-marketing-automation-and-robust-analytics-and-reporting-ibizo-will-maximises-roi-adapts-to-industry-dynamics-optimises-marketing-budgets-and-propels-businesses-to-their-full-digital-potential-in-the-ever-evolving-digital-landscape-firmly-positioning-them-at-the-forefront-of-industry-advancements-V3W">
                Get Ready To Welcome a holistic suite of services, combining data-driven strategies, advanced targeting
                techniques, and seamless integration of cutting-edge analytics, AI-powered tools, and multi-channel
                strategies. This orchestration encompasses audience segmentation, ad campaign optimisation, content
                personalisation, conversion rate optimisation, SEM management, affiliate marketing, social media
                advertising, email marketing automation, and robust analytics and reporting. Ibizo will maximises ROI,
                adapts to industry dynamics, optimises marketing budgets, and propels businesses to their full digital
                potential in the ever-evolving digital landscape, firmly positioning them at the forefront of industry
                advancements.</p>
        </div>
        <img class="teamwork-of-young-people-with-laptop-X8c"
            src="../../assets/teamwork-of-young-people-with-laptop.png" />
    </div>
    <div class="frame-1686551703-F4c">
        <img class="group-39181-PAp" src="../../assets/group-39181-p6U.png" />
        <div class="frame-1686551686-iTz">
            <p class="driving-success-through-innovation-FD2">Driving success through innovation</p>
            <p
                class="performance-marketing-harnesses-granular-insights-to-identify-high-potential-segments-fine-tunes-campaigns-and-efficiently-allocates-resources-accelerating-sales-cycles-it-synergies-cutting-edge-analytics-ai-driven-tools-and-precise-targeting-to-amplify-the-visibility-of-innovative-ideas-acting-as-a-catalyst-for-idea-execution-and-sales-acceleration-this-approach-enhances-sales-acceleration-by-seamlessly-guiding-prospects-through-the-sales-pipeline-ensuring-efficient-lead-progression-the-result-is-a-dynamic-interplay-of-creativity-and-technical-precision-maximising-roi-and-propelling-sales-with-unparalleled-effectiveness-in-the-digital-landscape-AKz">
                Performance marketing harnesses granular insights to identify high-potential segments, fine-tunes
                campaigns, and efficiently allocates resources, accelerating sales cycles. It synergies cutting-edge
                analytics, AI-driven tools, and precise targeting to amplify the visibility of innovative ideas, acting
                as a catalyst for idea execution and sales acceleration.
                <br />

                <br />
                This approach enhances sales acceleration by seamlessly guiding prospects through the sales pipeline,
                ensuring efficient lead progression. The result is a dynamic interplay of creativity and technical
                precision, maximising ROI and propelling sales with unparalleled effectiveness in the digital landscape
            </p>
        </div>
        <img class="group-39182-eeU" src="../../assets/group-39182-GTa.png" />
    </div>
    <p class="lets-meet-our-team-Yjr">
        <span class="lets-meet-our-team-Yjr-sub-0">Let’s meet </span>
        <span class="lets-meet-our-team-Yjr-sub-1">our team</span>
    </p>
    <p
        class="introducing-our-performance-marketing-maestros-each-member-is-seasoned-in-performance-marketing-intricacies-to-bring-you-data-infused-success-QQg">
        Introducing Our Performance Marketing Maestros, each member is seasoned in performance marketing intricacies to
        bring you data-infused success.</p>
    <div class="auto-group-gr2l-t4x">
        <img class="unsplash-ofm3hmsoaa-Rag" src="../../assets/unsplash-ofm3hmsoaa.png" />
        <p class="heading-YvC">Frequently asked questions</p>
        <p class="supporting-text-47r">Everything you need to know about the product and billing.</p>
        <div class="content-ZqJ">
            <div class="text-and-supporting-text-JH6">
                <p class="text-r3i">Is there a free trial available?</p>
                <p class="supporting-text-B5z">Yes, you can try us for free for 30 days. If you want, we’ll provide you
                    with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
                </p>
            </div>
            <img class="icon-wrap-uGt" src="../../assets/icon-wrap-19i.png" />
        </div>
        <div class="faq-item-dTn">
            <div class="divider-NAU">
            </div>
            <div class="content-KLc">
                <p class="text-gS4">Can I change my plan later?</p>
                <img class="icon-wrap-Dgt" src="../../assets/icon-wrap-AGp.png" />
            </div>
        </div>
        <div class="faq-item-ZVr">
            <div class="divider-hc4">
            </div>
            <div class="content-4Bi">
                <p class="text-pRn">What is your cancellation policy?</p>
                <img class="icon-wrap-Z8U" src="../../assets/icon-wrap-1HA.png" />
            </div>
        </div>
        <div class="faq-item-hVa">
            <div class="divider-EVW">
            </div>
            <div class="content-BQk">
                <p class="text-jx4">Can other info be added to an invoice?</p>
                <img class="icon-wrap-Hig" src="../../assets/icon-wrap-9be.png" />
            </div>
        </div>
        <div class="faq-item-DMS">
            <div class="divider-woE">
            </div>
            <div class="content-tTa">
                <p class="text-r9W">How does billing work?</p>
                <img class="icon-wrap-nor" src="../../assets/icon-wrap.png" />
            </div>
        </div>
        <div class="faq-item-jUC">
            <div class="divider-4mN">
            </div>
            <div class="content-cXz">
                <p class="text-BLC">How do I change my account email?</p>
                <img class="icon-wrap-vHn" src="../../assets/icon-wrap-Zfe.png" />
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>