<app-navbar></app-navbar>
<div class="performance-marketing-QYp">
    <div class="frame-1686551774-Pb6">
        <div class="group-1000001671-8Yg">
            <img class="group-1000001669-pAc" src="./assets/group-1000001669.png" />
        </div>
        <img class="group-135-Wp8" src="./assets/group-135-qkc.png" />
        <div class="performance-marketing-at-ibizo-technologies-Rw6">
            <span class="performance-marketing-at-ibizo-technologies-Rw6-sub-0">Performance Marketing</span>
            <span class="performance-marketing-at-ibizo-technologies-Rw6-sub-1"> </span>
            <span class="performance-marketing-at-ibizo-technologies-Rw6-sub-2">at Ibizo Technologies</span>
        </div>
        <div class="frame-1686551764-yDr">
            <div class="enter-mail-id-63a">Enter mail ID</div>
            <div class="frame-1686551765-P2g">Talk to expert</div>
        </div>
        <div
            class="welcome-to-ibizo-technologies-where-we-redefine-digital-marketing-through-a-cutting-edge-approach-known-as-performance-marketing-our-mission-is-simple-yet-powerful-to-help-you-achieve-outstanding-results-by-connecting-your-brand-with-the-right-audience-at-the-right-time-and-in-the-right-way-3sv">
            Welcome to Ibizo Technologies, where we redefine digital marketing through a cutting-edge approach known as
            performance marketing. Our mission is simple yet powerful: to help you achieve outstanding results by
            connecting your brand with the right audience, at the right time, and in the right way.</div>
    </div>
    <div class="auto-group-en88-pGQ">
        <div class="auto-group-pvnt-vqE">
            <div class="auto-group-adhj-GPJ">
                <div class="what-is-performance-marketing-bAg">What is Performance Marketing?</div>
                <div
                    class="performance-marketing-is-not-just-a-buzzword-its-a-game-changer-in-the-digital-marketing-landscape-at-ibizo-technologies-weve-perfected-this-data-driven-approach-to-elevate-your-brands-online-presence-and-drive-tangible-outcomes-Vmr">
                    Performance marketing is not just a buzzword; it&#39;s a game-changer in the digital marketing
                    landscape. At Ibizo Technologies, we&#39;ve perfected this data-driven approach to elevate your
                    brand&#39;s online presence and drive tangible outcomes.</div>
            </div>
            <img class="business-growth-or-career-ladder-JzC" src="./assets/business-growth-or-career-ladder.png" />
        </div>
        <div class="our-comprehensive-services-pSk">Our Comprehensive Services</div>
        <p
            class="beyond-budgeting-options-ibizo-technologies-offers-a-full-spectrum-of-services-to-supercharge-your-digital-marketing-efforts--GZe">
            Beyond budgeting options, Ibizo Technologies offers a full spectrum of services to supercharge your digital
            marketing efforts:</p>
        <div class="frame-1686551738-4VW">
            <div class="frame-1686551736-KwE">
                <div class="frame-1686551730-dwv">
                    <div class="frame-1686551722-7s6">
                        <img class="zoom-search-c3A" src="./assets/zoom-search.png" />
                    </div>
                    <div class="frame-1686551729-JRn">
                        <p class="search-engine-marketing-sem-RmJ">Search Engine Marketing (SEM)</p>
                        <p
                            class="we-harness-the-power-of-search-engines-to-ensure-your-brand-is-discovered-by-those-actively-looking-for-your-products-or-services-JaC">
                            We harness the power of search engines to ensure your brand is discovered by those actively
                            looking for your products or services.</p>
                    </div>
                </div>
                <div class="frame-1686551733-Zm2">
                    <div class="frame-1686551723-WAU">
                        <img class="message-circle-2-text--17E" src="../../assets/social-media.png" />
                    </div>
                    <div class="frame-1686551728-iXS">
                        <p class="social-media-advertising-Tzp">Social Media Advertising</p>
                        <p
                            class="our-social-media-experts-craft-compelling-ad-campaigns-that-engage-your-audience-and-drive-conversions-on-platforms-like-facebook-instagram-and-linkedin-N6C">
                            Our social media experts craft compelling ad campaigns that engage your audience and drive
                            conversions on platforms like Facebook, Instagram, and LinkedIn.</p>
                    </div>
                </div>
            </div>
            <div class="frame-1686551737-1ur">
                <div class="frame-1686551731-ZAg">
                    <div class="frame-1686551724-gm6">
                        <img class="globe-pMW" src="./assets/globe.png" />
                    </div>
                    <div class="frame-1686551726-8d6">
                        <p class="display-advertising-Fxc">Display Advertising</p>
                        <p
                            class="maximize-your-brands-visibility-with-visually-stunning-display-ads-that-capture-attention-and-convert-prospects-into-customers-Lz4">
                            Maximize your brand&#39;s visibility with visually stunning display ads that capture
                            attention and convert prospects into customers.</p>
                    </div>
                </div>
                <div class="frame-1686551732-cgg">
                    <div class="frame-1686551725-9wW">
                        <img class="mail-etG" src="./assets/mail.png" />
                    </div>
                    <div class="frame-1686551727-BNQ">
                        <p class="email-marketing-Xx4">Email Marketing</p>
                        <p
                            class="nurture-your-customer-relationships-and-drive-sales-through-targeted-email-campaigns-that-deliver-the-right-message-at-the-right-time-qC4">
                            Nurture your customer relationships and drive sales through targeted email campaigns that
                            deliver the right message at the right time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="frame-1686551761-VGc">
        <img class="group-39181-DyJ" src="./assets/group-39181.png" />
        <div class="frame-1686551759-8aU">
            <div class="frame-1686551756-3Be">
                <div class="frame-1686551753-PWQ">1</div>
                <div class="frame-1686551730-bsN">
                    <p class="prepayment-of-ad-budget-xT2">Prepayment of Ad Budget</p>
                    <p
                        class="many-of-our-clients-opt-for-the-prepayment-model-where-you-allocate-a-specific-budget-for-your-advertising-campaigns-this-upfront-payment-allows-us-to-leverage-your-resources-efficiently-ensuring-every-dollar-is-spent-strategically-to-achieve-your-goals-UAU">
                        Many of our clients opt for the prepayment model, where you allocate a specific budget for your
                        advertising campaigns. This upfront payment allows us to leverage your resources efficiently,
                        ensuring every dollar is spent strategically to achieve your goals.</p>
                </div>
            </div>
            <div class="auto-group-v2tg-h3E">
                <div class="frame-1686551757-EJ4">
                    <div class="frame-1686551754-Xnx">2</div>
                    <div class="frame-1686551739-nD6">
                        <p class="retainer-ship-fee-je8">Retainer-ship Fee</p>
                        <p
                            class="for-clients-seeking-ongoing-marketing-support-and-consultation-we-offer-a-retainer-ship-fee-arrangement-with-this-option-you-benefit-from-dedicated-access-to-our-expertise-and-insights-throughout-your-campaign-ensuring-your-strategies-remain-agile-and-adaptable-FsN">
                            For clients seeking ongoing marketing support and consultation, we offer a retainer ship fee
                            arrangement. With this option, you benefit from dedicated access to our expertise and
                            insights throughout your campaign, ensuring your strategies remain agile and adaptable.</p>
                    </div>
                </div>
                <div class="frame-1686551758-5Lc">
                    <div class="frame-1686551755-1k4">3</div>
                    <div class="frame-1686551740-gLQ">
                        <p class="of-ad-budget-SKa">15% of Ad Budget</p>
                        <p
                            class="alternatively-you-can-choose-to-pay-a-commission-of-15-on-your-ad-spend-this-model-aligns-our-success-with-yours-the-more-effective-your-campaigns-the-more-value-we-bring-to-your-business-9Ut">
                            Alternatively, you can choose to pay a commission of 15% on your ad spend. This model aligns
                            our success with yours – the more effective your campaigns, the more value we bring to your
                            business.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-1686551760-PPE">
            <p class="our-unique-approach-to-budgeting-7KE">Our Unique Approach to Budgeting</p>
            <p
                class="at-ibizo-technologies-we-understand-that-every-business-has-unique-financial-considerations-thats-why-we-offer-flexible-payment-options-that-put-you-in-control-oxk">
                At Ibizo Technologies, we understand that every business has unique financial considerations. That&#39;s
                why we offer flexible payment options that put you in control.</p>
        </div>
        <img class="group-39182-H7E" src="./assets/group-39182.png" />
        <img class="graphic-designer-creating-artwork-c9W" src="./assets/graphic-designer-creating-artwork.png" />
    </div>
    <div class="auto-group-ywlx-iCY">
        <div class="frame-1686551762-3Ep">
            <p class="why-choose-ibizo-technologies-PZa">Why Choose Ibizo Technologies?</p>
            <p
                class="beyond-budgeting-options-ibizo-technologies-offers-a-full-spectrum-of-services-to-supercharge-your-digital-marketing-efforts--u28">
                Beyond budgeting options, Ibizo Technologies offers a full spectrum of services to supercharge your
                digital marketing efforts:</p>
        </div>
        <div class="frame-1686551773-ae4">
            <div class="frame-1686551770-W1v">
                <div class="frame-1686551753-Eic">1</div>
                <div class="frame-1686551769-u44">
                    <p class="proven-success-Ftc">Proven Success</p>
                    <p
                        class="our-track-record-speaks-for-itself-weve-helped-countless-clients-achieve-remarkable-results-through-performance-marketing-BGU">
                        Our track record speaks for itself. We&#39;ve helped countless clients achieve remarkable
                        results through performance marketing.</p>
                </div>
            </div>
            <div class="frame-1686551771-Tjn">
                <div class="frame-1686551754-Q9E">2</div>
                <div class="frame-1686551767-TdJ">
                    <p class="transparent-reporting-cm6">Transparent Reporting</p>
                    <p
                        class="youll-have-complete-visibility-into-your-campaigns-performance-we-provide-detailed-reports-and-insights-so-you-know-exactly-how-your-budget-is-being-utilized-8zL">
                        You&#39;ll have complete visibility into your campaign&#39;s performance. We provide detailed
                        reports and insights, so you know exactly how your budget is being utilized.</p>
                </div>
            </div>
            <div class="frame-1686551772-o4t">
                <div class="frame-1686551755-wwn">3</div>
                <div class="frame-1686551768-1Rr">
                    <p class="tailored-solutions-N1W">Tailored Solutions</p>
                    <p
                        class="we-understand-that-one-size-does-not-fit-all-our-strategies-are-customised-to-meet-your-unique-business-objectives-and-market-dynamics-HeG">
                        We understand that one size does not fit all. Our strategies are customised to meet your unique
                        business objectives and market dynamics.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="auto-group-kkmv-9Ra">
        <div class="frame-1686551760-muS">
            <p class="headline-uVr">Let’s Get Connected</p>
            <div class="contact-us-sections-2aU">
                <div class="auto-group-6qy2-wSY">
                    <div class="text-container-64Y">
                    </div>
                    <div class="frame-239-EKA">
                        <div class="form-yGk">
                            <div class="auto-group-gh4l-hyS">
                                <div class="name-section-3Gc">
                                    <div class="input-field-miQ">
                                        <p class="label-i7r">First Name</p>
                                        <div class="input-box-3A8">Please input</div>
                                    </div>
                                    <div class="input-field-TUk">
                                        <p class="label-zzU">Email address</p>
                                        <div class="input-box-w92">Please input</div>
                                    </div>
                                </div>
                                <div class="name-section-axg">
                                    <div class="input-field-uzx">
                                        <p class="label-SV6">Phone Number</p>
                                        <div class="input-box-ZJp">+91</div>
                                    </div>
                                    <div class="dropdown-aUp">
                                        <p class="headline-voa">Location</p>
                                        <div class="dropdown-button-qvY">
                                            <div class="auto-group-ejnk-ZrY">Please input</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-text-area-xtg">
                                    <p class="label-Us2">Message</p>
                                    <div class="box-zaU">Write us a short Message...</div>
                                </div>
                            </div>
                            <div class="frame-38-R9z">Submit</div>
                        </div>
                        <div class="right-fa8">
                            <div class="text-container-Ca4">
                                <div class="headline-supporting-text-LAU">
                                    <p class="headline-fyS">Get in touch</p>
                                    <p class="subtitle-yjE">We’d Love to Hear From You! Reach Out to us and Let’s Start
                                        a Conversation</p>
                                </div>
                            </div>
                            <div class="text-container-WDN">
                                <div class="auto-group-5c5v-TuJ">
                                    <div class="headline-supporting-text-1vp">
                                        <p class="headline-NFa">Address</p>
                                        <p class="subtitle-uWQ">GF, A - 16, Noida</p>
                                        <p class="subtitle-qex">Uttar Pradesh 201301</p>
                                    </div>
                                </div>
                                <div class="auto-group-chsx-aMe">
                                    <div class="button-iye">
                                        <img class="mail-S8x" src="./assets/mail-3i8.png" />
                                        <div class="auto-group-yqnu-Aak">Send an email</div>
                                    </div>
                                    <div class="button-G7z">
                                        <img class="phone-PiQ" src="./assets/phone.png" />
                                        <div class="auto-group-wx6q-Wo2">Make a phone call</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>