* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

.performance-marketing-QYp {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.performance-marketing-QYp .frame-1686551774-Pb6 {
    width: 100%;
    height: 68.5rem;
    position: relative;
    overflow: hidden;
    background-color: #070622;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551774-Pb6 .group-1000001671-8Yg {
    opacity: 0.52;
    box-sizing: border-box;
    padding: 9.807rem 7.881rem 9.807rem 17.833rem;
    width: 103.8149rem;
    height: 107.9926rem;
    position: absolute;
    left: 55.9rem;
    top: 11.6rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('src/assets/ourspaceship-africa-2k-1-bg-nGY.png');
}

.performance-marketing-QYp .frame-1686551774-Pb6 .group-1000001671-8Yg .group-1000001669-pAc {
    width: 78.1014rem;
    height: 50.8316rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .frame-1686551774-Pb6 .group-135-Wp8 {
    opacity: 0.5;
    width: 84.2502rem;
    height: 60.6221rem;
    position: absolute;
    left: 0;
    top: -10rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .frame-1686551774-Pb6 .performance-marketing-at-ibizo-technologies-Rw6 {
    width: 94.9rem;
    height: 15rem;
    position: absolute;
    left: 24.6rem;
    top: 11.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #272742;
    font-family: Poppins, 'Source Sans Pro';
}

.performance-marketing-QYp .frame-1686551774-Pb6 .performance-marketing-at-ibizo-technologies-Rw6 .performance-marketing-at-ibizo-technologies-Rw6-sub-0 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #4fc0ff;
    font-family: Poppins, 'Source Sans Pro';
}

.performance-marketing-QYp .frame-1686551774-Pb6 .performance-marketing-at-ibizo-technologies-Rw6 .performance-marketing-at-ibizo-technologies-Rw6-sub-1 {}

.performance-marketing-QYp .frame-1686551774-Pb6 .performance-marketing-at-ibizo-technologies-Rw6 .performance-marketing-at-ibizo-technologies-Rw6-sub-2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
}

.performance-marketing-QYp .frame-1686551774-Pb6 .frame-1686551764-yDr {
    box-sizing: border-box;
    padding-left: 3rem;
    width: 82rem;
    height: 6.4rem;
    position: absolute;
    left: 31rem;
    top: 48.1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: solid 0.1rem #a8a8a8;
    background-color: #ffffff;
    border-radius: 0.6rem;
}

.performance-marketing-QYp .frame-1686551774-Pb6 .frame-1686551764-yDr .enter-mail-id-63a {
    margin: 0rem 48.8rem 0.1rem 0rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    color: #1a7bff;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551774-Pb6 .frame-1686551764-yDr .frame-1686551765-P2g {
    width: 21rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #1a7bff;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551774-Pb6 .welcome-to-ibizo-technologies-where-we-redefine-digital-marketing-through-a-cutting-edge-approach-known-as-performance-marketing-our-mission-is-simple-yet-powerful-to-help-you-achieve-outstanding-results-by-connecting-your-brand-with-the-right-audience-at-the-right-time-and-in-the-right-way-3sv {
    width: 103.5rem;
    height: 10.8rem;
    position: absolute;
    left: 20.25rem;
    top: 29.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
}

.performance-marketing-QYp .auto-group-en88-pGQ {
    box-sizing: border-box;
    padding: 15.1rem 8.2rem 23.5rem 10rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .auto-group-pvnt-vqE {
    margin-bottom: 15.1rem;
    width: 100%;
    height: 45.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .auto-group-pvnt-vqE .auto-group-adhj-GPJ {
    margin: 7.6rem 5.9rem 20.45rem 0rem;
    height: calc(100% - 28.05rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .auto-group-pvnt-vqE .auto-group-adhj-GPJ .what-is-performance-marketing-bAg {
    margin-bottom: 0.75rem;
    display: flex;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    color: #262626;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .auto-group-pvnt-vqE .auto-group-adhj-GPJ .performance-marketing-is-not-just-a-buzzword-its-a-game-changer-in-the-digital-marketing-landscape-at-ibizo-technologies-weve-perfected-this-data-driven-approach-to-elevate-your-brands-online-presence-and-drive-tangible-outcomes-Vmr {
    margin-left: 0.2rem;
    max-width: 71.1rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: capitalize;
    color: #626262;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .auto-group-pvnt-vqE .business-growth-or-career-ladder-JzC {
    width: 48.6rem;
    height: 45.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .our-comprehensive-services-pSk {
    margin: 0rem 1.9rem 2.1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    color: #202020;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .beyond-budgeting-options-ibizo-technologies-offers-a-full-spectrum-of-services-to-supercharge-your-digital-marketing-efforts--GZe {
    margin: 0rem 1.2rem 10.3rem 0rem;
    max-width: 77.7rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #63657e;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW {
    margin: 0rem 2.6rem 0rem 0.9rem;
    width: calc(100% - 3.5rem);
    height: 32.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE {
    margin-right: 5rem;
    width: 60.8rem;
    height: 100%;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551730-dwv {
    margin: 0rem 3.5rem 12.8rem 0rem;
    width: calc(100% - 3.5rem);
    height: 9.5rem;
    display: flex;
    align-items: center;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551730-dwv .frame-1686551722-7s6 {
    margin-right: 2rem;
    box-sizing: border-box;
    padding: 3.163rem 2.863rem 2.763rem 2.863rem;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('src/assets/ellipse-2445.png');
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551730-dwv .frame-1686551722-7s6 .zoom-search-c3A {
    width: 3.575rem;
    height: 3.575rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551730-dwv .frame-1686551729-JRn {
    margin: 0.7rem 0;
    height: calc(100% - 1.4rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551730-dwv .frame-1686551729-JRn .search-engine-marketing-sem-RmJ {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.6544680876;
    letter-spacing: -0.0036rem;
    color: #272727;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551730-dwv .frame-1686551729-JRn .we-harness-the-power-of-search-engines-to-ensure-your-brand-is-discovered-by-those-actively-looking-for-your-products-or-services-JaC {
    max-width: 46rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551733-Zm2 {
    width: 100%;
    height: 10.2rem;
    display: flex;
    align-items: center;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551733-Zm2 .frame-1686551723-WAU {
    margin: 0.35rem 2rem 0.35rem 0rem;
    box-sizing: border-box;
    padding: 3.2875rem 3.1875rem;
    height: calc(100% - 0.7rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('src/assets/ellipse-2446.png');
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551733-Zm2 .frame-1686551723-WAU .message-circle-2-text--17E {
    width: 2.925rem;
    height: 2.925rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551733-Zm2 .frame-1686551728-iXS {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551733-Zm2 .frame-1686551728-iXS .social-media-advertising-Tzp {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.6544680876;
    letter-spacing: -0.0036rem;
    color: #272727;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551736-KwE .frame-1686551733-Zm2 .frame-1686551728-iXS .our-social-media-experts-craft-compelling-ad-campaigns-that-engage-your-audience-and-drive-conversions-on-platforms-like-facebook-instagram-and-linkedin-N6C {
    max-width: 49.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur {
    width: 56.5rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551731-ZAg {
    margin-bottom: 12.8rem;
    width: 100%;
    height: 9.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551731-ZAg .frame-1686551724-gm6 {
    margin-right: 2rem;
    box-sizing: border-box;
    padding: 2.9625rem 2.8625rem;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url('REPLACE_IMAGE:1:5702'); */
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551731-ZAg .frame-1686551724-gm6 .globe-pMW {
    width: 3.575rem;
    height: 3.575rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551731-ZAg .frame-1686551726-8d6 {
    margin: 0.7rem 0;
    height: calc(100% - 1.4rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551731-ZAg .frame-1686551726-8d6 .display-advertising-Fxc {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.6544680876;
    letter-spacing: -0.0036rem;
    color: #272727;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551731-ZAg .frame-1686551726-8d6 .maximize-your-brands-visibility-with-visually-stunning-display-ads-that-capture-attention-and-convert-prospects-into-customers-Lz4 {
    max-width: 45.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551732-cgg {
    width: 100%;
    height: 10.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551732-cgg .frame-1686551725-9wW {
    margin: 0.35rem 2rem 0.35rem 0rem;
    box-sizing: border-box;
    padding: 3.45rem 3.025rem;
    height: calc(100% - 0.7rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('src/assets/ellipse-2447.png');
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551732-cgg .frame-1686551725-9wW .mail-etG {
    width: 3.25rem;
    height: 2.6rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551732-cgg .frame-1686551727-BNQ {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551732-cgg .frame-1686551727-BNQ .email-marketing-Xx4 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.6544680876;
    letter-spacing: -0.0036rem;
    color: #272727;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-en88-pGQ .frame-1686551738-4VW .frame-1686551737-1ur .frame-1686551732-cgg .frame-1686551727-BNQ .nurture-your-customer-relationships-and-drive-sales-through-targeted-email-campaigns-that-deliver-the-right-message-at-the-right-time-qC4 {
    max-width: 45.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc {
    width: 100%;
    height: 75rem;
    position: relative;
    overflow: hidden;
    background-color: #eefaff;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .group-39181-DyJ {
    width: 32.9892rem;
    height: 44.0227rem;
    position: absolute;
    left: 0;
    top: -16.2rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU {
    width: 61.6rem;
    height: 41.1rem;
    position: absolute;
    left: 9.4rem;
    top: 26.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .frame-1686551756-3Be {
    width: 100%;
    height: 11.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .frame-1686551756-3Be .frame-1686551753-PWQ {
    margin: 2.15rem 3.6rem 2.15rem 0rem;
    width: 7.5rem;
    height: calc(100% - 4.3rem);
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 0.7346942902;
    color: #ff712f;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff0e9;
    border-radius: 3.75rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .frame-1686551756-3Be .frame-1686551730-bsN {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .frame-1686551756-3Be .frame-1686551730-bsN .prepayment-of-ad-budget-xT2 {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.6544680876;
    letter-spacing: -0.0036rem;
    color: #272727;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .frame-1686551756-3Be .frame-1686551730-bsN .many-of-our-clients-opt-for-the-prepayment-model-where-you-allocate-a-specific-budget-for-your-advertising-campaigns-this-upfront-payment-allows-us-to-leverage-your-resources-efficiently-ensuring-every-dollar-is-spent-strategically-to-achieve-your-goals-UAU {
    max-width: 50.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E {
    box-sizing: border-box;
    padding-top: 3.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551757-EJ4 {
    margin: 0rem 0.4rem 3.9rem 0rem;
    width: calc(100% - 0.4rem);
    height: 11.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551757-EJ4 .frame-1686551754-Xnx {
    margin: 2.15rem 3.6rem 2.15rem 0rem;
    width: 7.5rem;
    height: calc(100% - 4.3rem);
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 0.7346942902;
    color: #4263f8;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9edff;
    border-radius: 3.75rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551757-EJ4 .frame-1686551739-nD6 {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551757-EJ4 .frame-1686551739-nD6 .retainer-ship-fee-je8 {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.6544680876;
    letter-spacing: -0.0036rem;
    color: #272727;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551757-EJ4 .frame-1686551739-nD6 .for-clients-seeking-ongoing-marketing-support-and-consultation-we-offer-a-retainer-ship-fee-arrangement-with-this-option-you-benefit-from-dedicated-access-to-our-expertise-and-insights-throughout-your-campaign-ensuring-your-strategies-remain-agile-and-adaptable-FsN {
    max-width: 50.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551758-5Lc {
    margin-right: 2.5rem;
    width: calc(100% - 2.5rem);
    height: 9.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551758-5Lc .frame-1686551755-1k4 {
    margin: 1.1rem 3.6rem 1.1rem 0rem;
    width: 7.5rem;
    height: calc(100% - 2.2rem);
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 0.7346942902;
    color: #ffbd06;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff6dd;
    border-radius: 3.75rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551758-5Lc .frame-1686551740-gLQ {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551758-5Lc .frame-1686551740-gLQ .of-ad-budget-SKa {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.6544680876;
    letter-spacing: -0.0036rem;
    color: #272727;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551759-8aU .auto-group-v2tg-h3E .frame-1686551758-5Lc .frame-1686551740-gLQ .alternatively-you-can-choose-to-pay-a-commission-of-15-on-your-ad-spend-this-model-aligns-our-success-with-yours-the-more-effective-your-campaigns-the-more-value-we-bring-to-your-business-9Ut {
    max-width: 48rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551760-PPE {
    width: 109.7rem;
    height: 11.7rem;
    position: absolute;
    left: 15.5rem;
    top: 7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551760-PPE .our-unique-approach-to-budgeting-7KE {
    margin: 0rem 1.5rem 1.3rem 0rem;
    font-size: 3.198rem;
    font-weight: 600;
    line-height: 1.1725;
    color: #272742;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .frame-1686551760-PPE .at-ibizo-technologies-we-understand-that-every-business-has-unique-financial-considerations-thats-why-we-offer-flexible-payment-options-that-put-you-in-control-oxk {
    max-width: 109.7rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #63657e;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .frame-1686551761-VGc .group-39182-H7E {
    width: 32.9892rem;
    height: 44.0227rem;
    position: absolute;
    left: 114.8rem;
    top: 43.3rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .frame-1686551761-VGc .graphic-designer-creating-artwork-c9W {
    width: 55.5rem;
    height: 55.5rem;
    position: absolute;
    left: 79.5rem;
    top: 24rem;
    object-fit: contain;
    vertical-align: top;
}

.performance-marketing-QYp .auto-group-ywlx-iCY {
    box-sizing: border-box;
    padding: 17.8rem 16.7rem 18.068rem 16.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551762-3Ep {
    margin-bottom: 8.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551762-3Ep .why-choose-ibizo-technologies-PZa {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2214095592;
    letter-spacing: -0.064rem;
    color: #262626;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551762-3Ep .beyond-budgeting-options-ibizo-technologies-offers-a-full-spectrum-of-services-to-supercharge-your-digital-marketing-efforts--u28 {
    max-width: 110.5rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #626262;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 {
    margin: 0rem 0.955rem 0rem 1.44rem;
    width: calc(100% - 2.3952rem);
    height: 26.2324rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551770-W1v {
    margin-right: 13.1656rem;
    width: 28rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551770-W1v .frame-1686551753-Eic {
    margin: 0rem 9.923rem 1.413rem 9.923rem;
    width: calc(100% - 19.8465rem);
    height: 8.1535rem;
    font-size: 3.805rem;
    font-weight: 400;
    line-height: 0.7346943072;
    color: #ff712f;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff0e9;
    border-radius: 4.0768rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551770-W1v .frame-1686551769-u44 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551770-W1v .frame-1686551769-u44 .proven-success-Ftc {
    margin-bottom: 1.4133rem;
    text-align: center;
    font-size: 2.3177rem;
    font-weight: 700;
    line-height: 1.3333333608;
    color: #2a3342;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551770-W1v .frame-1686551769-u44 .our-track-record-speaks-for-itself-weve-helped-countless-clients-achieve-remarkable-results-through-performance-marketing-BGU {
    max-width: 28rem;
    text-align: center;
    font-size: 1.522rem;
    font-weight: 400;
    line-height: 1.4999999687;
    color: #666666;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551771-Tjn {
    margin-right: 12.6392rem;
    width: 28.4rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551771-Tjn .frame-1686551754-Q9E {
    margin: 0rem 10.123rem 2.066rem 10.123rem;
    width: calc(100% - 20.2465rem);
    height: 8.1535rem;
    font-size: 3.805rem;
    font-weight: 400;
    line-height: 0.7346943072;
    color: #4263f8;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9edff;
    border-radius: 4.0768rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551771-Tjn .frame-1686551767-TdJ {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551771-Tjn .frame-1686551767-TdJ .transparent-reporting-cm6 {
    margin-bottom: 1.4133rem;
    text-align: center;
    font-size: 2.3177rem;
    font-weight: 700;
    line-height: 1.3333333608;
    color: #2a3342;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551771-Tjn .frame-1686551767-TdJ .youll-have-complete-visibility-into-your-campaigns-performance-we-provide-detailed-reports-and-insights-so-you-know-exactly-how-your-budget-is-being-utilized-8zL {
    max-width: 28.4rem;
    text-align: center;
    font-size: 1.522rem;
    font-weight: 400;
    line-height: 1.4999999687;
    color: #666666;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551772-o4t {
    width: 25.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551772-o4t .frame-1686551755-wwn {
    margin: 0rem 8.873rem 1.413rem 8.873rem;
    width: calc(100% - 17.7465rem);
    height: 8.1535rem;
    font-size: 3.805rem;
    font-weight: 400;
    line-height: 0.7346943072;
    color: #ffbd06;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff6dd;
    border-radius: 4.0768rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551772-o4t .frame-1686551768-1Rr {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551772-o4t .frame-1686551768-1Rr .tailored-solutions-N1W {
    margin-bottom: 1.4133rem;
    text-align: center;
    font-size: 2.3177rem;
    font-weight: 700;
    line-height: 1.3333333608;
    color: #2a3342;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-ywlx-iCY .frame-1686551773-ae4 .frame-1686551772-o4t .frame-1686551768-1Rr .we-understand-that-one-size-does-not-fit-all-our-strategies-are-customised-to-meet-your-unique-business-objectives-and-market-dynamics-HeG {
    max-width: 25.9rem;
    text-align: center;
    font-size: 1.522rem;
    font-weight: 400;
    line-height: 1.4999999687;
    color: #666666;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra {
    width: 146rem;
    height: 129.1375rem;
    position: relative;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS {
    width: 146rem;
    height: 81.1rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .headline-uVr {
    margin-right: 2rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.064rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU {
    box-sizing: border-box;
    padding: 6.4rem 0rem 6.4rem 11.2rem;
    width: 100%;
    height: 77.1rem;
    background-color: #ffffff;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY {
    width: 100%;
    height: 55.3rem;
    position: relative;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .text-container-64Y {
    width: 117rem;
    height: 8rem;
    position: absolute;
    left: 2.3rem;
    top: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .text-container-64Y .headline-supporting-text-dKN {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .text-container-64Y .headline-supporting-text-dKN .headline-P3e {
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.064rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .text-container-64Y .headline-supporting-text-dKN .subtitle-hq2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01rem;
    color: #5f6d7e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA {
    width: 134.8rem;
    height: 55.3rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk {
    margin-right: 4.8rem;
    box-sizing: border-box;
    padding: 3.2rem 0;
    width: 82.7rem;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS {
    margin-bottom: 2.4rem;
    width: 79.5rem;
    height: 41.7rem;
    position: relative;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-3Gc {
    width: 76.3rem;
    height: 10.2rem;
    position: absolute;
    left: 3.2rem;
    top: 0;
    display: flex;
    align-items: center;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-3Gc .input-field-miQ {
    margin-right: 2.4rem;
    box-sizing: border-box;
    padding-bottom: 2.8rem;
    width: 36.95rem;
    height: 100%;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-3Gc .input-field-miQ .label-i7r {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4285714286;
    letter-spacing: -0.01rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-3Gc .input-field-miQ .input-box-3A8 {
    box-sizing: border-box;
    padding: 1.2rem 1.6rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4666666667;
    letter-spacing: -0.01rem;
    color: #919ba6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #dae0e6;
    box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0399999991);
    background-color: #ffffff;
    border-radius: 0.6rem;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-3Gc .input-field-TUk {
    box-sizing: border-box;
    padding-bottom: 2.8rem;
    width: 36.95rem;
    height: 100%;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-3Gc .input-field-TUk .label-zzU {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4285714286;
    letter-spacing: -0.01rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-3Gc .input-field-TUk .input-box-w92 {
    box-sizing: border-box;
    padding: 1.2rem 1.6rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4666666667;
    letter-spacing: -0.01rem;
    color: #919ba6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #dae0e6;
    box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0399999991);
    background-color: #ffffff;
    border-radius: 0.6rem;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg {
    width: 76.3rem;
    height: 10.2rem;
    position: absolute;
    left: 3.2rem;
    top: 9.8rem;
    display: flex;
    align-items: flex-start;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg .input-field-uzx {
    margin-right: 2.4rem;
    box-sizing: border-box;
    padding-bottom: 2.8rem;
    width: 36.95rem;
    height: 100%;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg .input-field-uzx .label-SV6 {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4285714286;
    letter-spacing: -0.01rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg .input-field-uzx .input-box-ZJp {
    box-sizing: border-box;
    padding: 1.2rem 1.6rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4666666667;
    letter-spacing: -0.01rem;
    color: #919ba6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #dae0e6;
    box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0399999991);
    background-color: #ffffff;
    border-radius: 0.6rem;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg .dropdown-aUp {
    width: 36.95rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg .dropdown-aUp .headline-voa {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4285714286;
    letter-spacing: -0.01rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg .dropdown-aUp .dropdown-button-qvY {
    box-sizing: border-box;
    padding: 1.2rem 1.6rem;
    width: 100%;
    height: 4.6rem;
    border: solid 0.1rem #dae0e6;
    box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0399999991);
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .name-section-axg .dropdown-aUp .dropdown-button-qvY .auto-group-ejnk-ZrY {
    margin-right: 25.15rem;
    width: 8.6rem;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4666666667;
    letter-spacing: -0.01rem;
    color: #919ba6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .input-text-area-xtg {
    width: 76.3rem;
    height: 22.1rem;
    position: absolute;
    left: 3.2rem;
    top: 19.6rem;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .input-text-area-xtg .label-Us2 {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4285714286;
    letter-spacing: -0.01rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .auto-group-gh4l-hyS .input-text-area-xtg .box-zaU {
    box-sizing: border-box;
    padding: 1.2rem 1.6rem;
    width: 100%;
    height: 19.3rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4666666667;
    letter-spacing: -0.01rem;
    color: #919ba6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #dae0e6;
    box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.0399999991);
    background-color: #ffffff;
    border-radius: 0.6rem;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .form-yGk .frame-38-R9z {
    margin-left: 3.2rem;
    width: 17.9rem;
    height: 4.8rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #2770fd;
    border-radius: 0.8rem;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 {
    margin-top: 4.35rem;
    width: 47.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-Ca4 {
    margin-bottom: 3.2rem;
    width: 100%;
    height: 9.2rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-Ca4 .headline-supporting-text-LAU {
    width: 33.8rem;
    height: 100%;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-Ca4 .headline-supporting-text-LAU .headline-fyS {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5555555556;
    letter-spacing: -0.01rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-Ca4 .headline-supporting-text-LAU .subtitle-yjE {
    max-width: 33.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01rem;
    color: #5f6d7e;
    font-family: Inter, 'Source Sans Pro';
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-5c5v-TuJ {
    width: 100%;
    height: 9.9rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-5c5v-TuJ .headline-supporting-text-1vp {
    width: 16.3rem;
    height: 100%;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-5c5v-TuJ .headline-supporting-text-1vp .headline-NFa {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5555555556;
    letter-spacing: -0.01rem;
    color: #272d37;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-5c5v-TuJ .headline-supporting-text-1vp .subtitle-uWQ {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01rem;
    color: #5f6d7e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-5c5v-TuJ .headline-supporting-text-1vp .subtitle-qex {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01rem;
    color: #5f6d7e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-chsx-aMe {
    box-sizing: border-box;
    padding-top: 5.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-chsx-aMe .button-iye {
    margin: 0rem 34.5rem 1.8rem 0rem;
    box-sizing: border-box;
    padding-left: 0.1667rem;
    width: calc(100% - 34.5rem);
    height: 2.2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-chsx-aMe .button-iye .mail-S8x {
    margin: 0rem 0.767rem 0rem 0rem;
    width: 1.6667rem;
    height: 1.3333rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-chsx-aMe .button-iye .auto-group-yqnu-Aak {
    width: 10.2rem;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4666666667;
    color: #437ef7;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-chsx-aMe .button-G7z {
    margin-right: 31.7rem;
    box-sizing: border-box;
    padding-left: 0.3333rem;
    width: calc(100% - 31.7rem);
    height: 2.2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-chsx-aMe .button-G7z .phone-PiQ {
    margin: 0.083rem 0.85rem 0rem 0rem;
    width: 1.4167rem;
    height: 1.4167rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.performance-marketing-QYp .auto-group-kkmv-9Ra .frame-1686551760-muS .contact-us-sections-2aU .auto-group-6qy2-wSY .frame-239-EKA .right-fa8 .text-container-WDN .auto-group-chsx-aMe .button-G7z .auto-group-wx6q-Wo2 {
    width: 13rem;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4666666667;
    color: #437ef7;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}